<div class="row">
  <%= search_form_for @q do |f| %>
    <div class="col-md-9">
      <%= f.search_field :title_cont, class: 'form-control', placeholder: 'SEARCH' %> <br>
    </div>
  <% end %>
</div>

